<div class="featured-product">
    <div class="container">
        <div class="section-header text-center">
            <h1>{{{status}}}</h1>
            <p class="text-danger font-weight-bold">
                {{{message}}}
            </p>
            <a href="/products" class="btn btn-primary mt-3">Back to Products</a>
        </div>
    </div>
</div>
